/* styles/global.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); 

body {
  font-family: 'Roboto', sans-serif; /* Set the default font */
}









/* Top Header Styling */
.top-header {
    background-color: #f8f9fa;
    font-size: 0.8rem;
    margin-top: 0;
  }
  
  .top-header .top-link {
    color: #333;
    font-weight: 500;
    text-decoration: none;
  }


  @media (max-width: 575px) {
    .top-links{
      margin-right: 75px;
      padding: 0px;
    }
    .top-header{
      .top-link{
        display: none;
      }
      .input-group{
          width: 100px;
        } 

    }
    
  }

  @media (max-width :425px) {
    .top-links{
      width: 150px;
    }
    .logo{
      .img-logo{
        width: 80px;
        height: 40px;
      }
    }
  }
  
  .language-button {
    width: 150px;
  }
  .top-header .top-link:hover {
    color: #ffa500;
  }

  
  
  /* Main Navbar Styling */
  .navbar {
    background-color: #333;
    
  }

  @media (max-width: 575px) {

    .navbar{
    position: absolute;
    top:4px;
    right: 0px;
    background-color: #f8f9fa;
    }
   
   .navbar-toggler{  
      background-color: #333;
      position: absolute;
      
      text-align: center;
      padding: 0;
      top: 7px;
      right: 5px;
      margin-right: 10px;
   }

   .navbar-collapse{
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0px;
   }
  }

  @media (max-width: 795px) {

    .navbar{
      height: 55px;
    }
   
   .navbar-toggler{  
      background-color: #333;
      position: absolute;
      top: 7px;
      right: 5px;
      
   }

   .navbar-collapse{
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0px;
    max-height: 80vh;
    overflow-y: scroll;
   }
  }
  
  .navbar .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    text-transform: uppercase;
  }

  
  .navbar .nav-link:hover {
    color: #ffa500 !important;
  }
  
  .navbar .nav-link.active {
    color: #ffa500 !important;
  }
  

  /* Mega menu container */
.mega-menu {
  width: 90vw; 
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-25%,10%);
  padding: 20px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1050;
  display: none; /* Hidden by default */
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .mega-menu {
    width: 100%; 
  transform: translate(0); 
  }
}

.mega-menu h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.mega-menu p {
  font-size: 14px;
  margin-bottom: 10px;
}

.mega-menu .btn {
  display: inline-block;
  margin-top: 10px;
}


  /* Home Hero Section */


  .hero-section {
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/Hero-background.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:5px solid #FF6F0F;
  }

  .top-text h5 {
    font-size: 1.2rem;
    color: #ff9900;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .top-text p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .main-heading h1 {
    font-size: 68px; /* Matches the exact size in your screenshot */
    font-weight: 400;
    margin: 0;
    line-height: 60px; /* Exact spacing as shown */
  }
  
  .main-heading h1 .highlight {
    color: #ff9900; /* Highlight color for "AI-driven solutions" */
    font-weight: 700; /* Make the highlighted text bold */
  }
  
  .main-heading p {
    margin-top: -50px;
    margin-left: auto;
    font-size: 12px; /* Smaller text */
    font-weight: 300;
    line-height: 1.5;
    max-width: 450px; /* Limit width for alignment */
    padding-left: 10px; /* Add padding to differentiate visually */
    border-left: 4px solid #ff9900; /* Orange vertical line */
  }
  
  @media (max-width: 1050px) {
    .main-heading h1 {
      font-size: 38px;
      line-height: 60px;
    }
  
    .main-heading p {
      top: 60px;
      font-size: 16px;
      max-width: 100%;
      position: relative;
    }
  } 
  

  /* globals */
  .btn-secondary{
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #ffffff;
    width: 15rem;
    height: 3.25 rem;
  
  }
  .btn-secondary:hover{
    background-color: transparent;
  }
  .btn-secondary:focus:active{
    background-color: transparent;
  }
  

  .btn-primary{
    background-color: #ffa500;
    border-radius: 0;
    border: none;
    width: 15rem;
    height: 3.25 rem;
   
  }
  .btn-primary:hover{
    background-color: #FF9F5E;
  }

  .btn-primary:focus:active{
    outline: 1px solid #FF6F0F;
    background-color: #FF6F0F;
  }

  /* end globals */

  
  .industry-link {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-right: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
  }
  
  .industry-link:hover {
    color: #ff9900;
    border-bottom: 1px solid #ff9900;
  }
  
  @media (max-width: 768px) {
    .hero-section {
      text-align: center;
      height: 100%;
    }
    .industry-link {
      display: inline-block;
      gap: 0;
    }
  }

  /* global */
  .red-line{
    width: 100%;
    background-color: #FF6F0F;
    z-index: 1;
  }

  span{
    color: #FF6F0F;
    font-weight: bold;
  }
  /* end */



  /* Services Section */
.cards-section{
  background-color: #323232;
  border-bottom: 5px solid #FF6F0F;
}
  .card{
    background-color: #2A2A2A;
    color: white;
    height: 100%;
    border-radius: 0%;
    display: flex;
    align-items: center;
  }

  .card .card-body .card-title{
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
  .card .card-body .card-text{
    font-size: 1rem;
  }
 
  .card-content{
    height: 70%;    
  }

  /* Who We Are Section */
  .whoweare-section{
    background-color: #323232;

  }
  .whoweare-section .container {
    max-width: 980px;
    /* margin: auto; */
  }
  
  /* Section styles */
  .section-title {
    color: #FF6F0F;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .section-description {
    color: #f8f9fa;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  
  /* Highlight box styles */

  .highlight-box .box{
    display: flex;
    align-items: center;
    border: 3px solid #FF6F0F;
    transition: transform 0.2s;
    
  }
  
  .highlight-box .box i {
    font-size: 2.5rem;
    color: #FF6F0F;
    
  }

  .highlight-box .box p {
    color: #ffffff;
    font-size: 1.1rem;
    margin: 0;
    text-align: left;
    padding-left: 0.9rem ;
    font-weight: 500;
    line-height: 1.9;
  }
  
  .highlight-box strong {
    color: #FF6F0F;
  }
  
  /* Responsive styles */
  @media (max-width: 1080px) {
    .whoweare-section .container{
      max-width: 100%;
    }
    .highlight-box {
      margin-bottom: 1rem;
    }
  }



  /* Video Section */

  /* Global */
  .section-headings{
    color: #FF6F0F;
  }
  /* end */

  .video-row .btn-secondary{
    color: #FF6F0F;
    border: 2px solid #FF6F0F;
  }
  .embed-responsive-16by9 {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 5px solid #FF6F0F;
  }



  /* Industries We Serve Section */

  .industries-container{
    width: 100%;
    text-align: center;
    
  }


  /* Dashed Line */
.dashed-line {
  position: absolute;
  top: 50%; /* Center the line vertically relative to the row */
  left: 0;
  width: 100%;
  margin:0;
  height: 2px;
  border-top: 2px solid #000000; /* Adjust color to fit your design */
  z-index: 0; /* Make sure it appears behind the icons */
}

/* Icons Styling */
.icon-container {
  position: relative;
  z-index: 1; /* Bring icons and text above the dashed line */
  background-color: #ffffff;
  margin-top: 50px;
  max-width: fit-content;

}


/* Leadership section */

.bottomLink{
  color: #FF6F0F;
  font-weight: bold;
  font-size: larger;
}




/* NEWSLETTER CONTAINER */

.newsletter-container{
  border-bottom: 5px solid #FF6F0F;
}


/* Testimonials Container */

.testimonials-section .overflow-hidden .card{
  background-color: transparent;
  color: #000000;
  border: none;
}

.testimonials-section .overflow-hidden .col-lg-3{
  border-right: 2px solid #FF6F0F;
}

.testimonials-section .scrollbar {
  position: relative;
  height: 5px;
  background-color: #323232;
  border-radius: 3px;
  overflow: hidden;
}

.testimonials-section .scrollbar-progress {
  height: 5px;
  background-color: #FF6F0F;
  border-radius: 3px;
  transition: width 0.5s ease;
}


/* Footer Section */

.list-unstyled li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
}

.list-unstyled li a:hover{
  color: #FF6F0F;
  text-decoration: underline;
}

.list-unstyled li{
  font-size: smaller;
}

footer .container .first-part{
  border-right: 1px solid #ffffff;
}

footer .container .third-part .form-control{
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #303030;
  color: #ffffff;
}

.third-part .form-control::placeholder{
  color: #ffffff;
}

@media (max-width :525px) {
  .footer-menu{
    text-align: center;
  }

  .map-section{
    text-align: center;
  }
}

footer .container .section{
  color: #2A2A2A;
}

.bottom-section .list-inline-item a{
  text-decoration: none;
  color: #2A2A2A;
  
}



/* ABOUT US PAGE */

/* Hero Section */

.hero-wrapper .hero-bg{
  all: unset;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/About-image.png') no-repeat center center/cover !important; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.hero-wrapper .card-container{
  margin-top: -10%;
}


/* Our Location Section */

.our-location-bg{
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/Our locations background image.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-box{
  border-bottom: 1px solid #FF6F0F;
}


/* Our Certifications Section */

.certifications-cards-section {
  background-color: #323232;
}

.certifications-cards .card{
  border-bottom: 1px solid #ffffff;
}

/* WHY US SECTION */

.why-us-section{
  font-size: smaller;
}




/* SERVICE PAGES */
/* Hero Section */

.service-hero-section{
   height: 100vh;
   position: relative;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/pexels-spacex-586104.png') no-repeat center center/cover;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width: 576px) {
  .service-hero-section{
    height: 100%;
    padding: 20px 0;
  }
  .service-content{
    text-align: center;
  }
}

.sub-title-hero{
  border-left: 5px solid #FF6F0F;

}

/* Card Container Section */

.card-container-services{
  background-color: #323232;
}

.card-container-services .card{
  border-bottom: 6px solid #FF6F0F;
}

/* Content Section */

.service-content{
  background-color: #323232;
  color: #ffffff;
}
.service-content .tight-paragraphs p{
  margin-bottom: 3px;
}


/* INDUSTRIES PAGE */

/* Hero Section */
.industries-hero-section{
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/image 5.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Industries */
.text-justify{
  text-align: justify;
}

/* Industries Newsletter */

.industries-newsletter{
  border-top: 5px solid #FF6F0F;
}


/* BreadCrumb*/

.breadcrumb-item a{
  text-decoration: none;
  color: #FF6F0F;
}

.breadcrumb-container .active {
  color: #FF6F0F;
  font-weight: bold;
}

.breadcrumb-item a:hover{
  font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: #FF6F0F;
  content: var(--bs-breadcrumb-divider, ">");
}


/*  PARTNERSHIPS PAGE  */

.partnerships-page {
  background-color: #323232;
}

.partnerships-list{
  border-bottom: 5px solid #FF6F0F;

}

.partnerships-list .d-flex .bottomLink {
    text-decoration: none;
}

.bottom-div-link{
  border-bottom: 1px solid #FF6F0F;
}


/* CONTACT PAGE */

.contact{
  background-color: #323232;
  color: #f8f9fa;
}

/* Procedurial list */

.styled-list {
  list-style: none;
  padding: 0;
  position: relative;
}
.styled-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}
.styled-list li::before {
  content: attr(data-step);
  width: 40px;
  height: 40px;
  background-color: #FF6F0F;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}
.styled-list li .text {
  margin-left: 60px;
  font-size: 18px;
}
.styled-list li:not(:last-child)::after {
  content: '';
  width: 3px;
  height: calc(100% + 10px);
  background-color: #ddd;
  position: absolute;
  left: 20px;
  top: 40px;
}


/* Contact Form */

.contact .form-select, .form-control{
  border-radius: 0px;
  border: none;
  background-color: #2A2A2A;
  color: #ffffff;
  padding: 10px;
}

.contact .form-control::placeholder{
  color: #ffffff;
}

/* JOBS PAGE */

.jobs .job-input, .job-select{
  border: 1px solid #FF6F0F;
  border-radius: 0px;
  padding: 10px;
}

.jobs .job-mode span{ 
  border: 2px solid #ffffff;
  color: white;
  font-weight: normal;
  padding: 5px;
  width: 30%;
  text-align: center;
}

/* NEWSLETTER PAGE */

/* Hero Section */

.newsletter-hero-section{
  /* height: 100vh; */
  position: relative;
  background: url('/images/pexels-tima-miroshnichenko-5380664 1.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Main Content */

.main-container-newsletter .summary {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.main-container-newsletter .conclusion{
  border-bottom: 5px solid #FF6F0F;
}


/* Sidebar */

#newsletter-card{
  background-color: #E6E6E6;
  border: none;
  border-bottom: 3px solid #FF6F0F;
  box-sizing: border-box;
  max-width: 100%;
}

#newsletter-card .card-body{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (max-width:1180px) {
  #newsletter-card .card-body{
    width: auto;
  }

  #newsletter-card .btn-primary{
    width: fit-content;
  }
}

.main-container-newsletter .related-news{
  border-bottom: 3px solid #000000;
}
.main-container-newsletter .contributor-card .card{
  background-color: #E6E6E6;
  border: none;
  border-bottom: 3px solid #FF6F0F;
  height: fit-content;

}

@media (max-width:1180px) {
  .contributor-card .card .card-body{
    width: auto;
  }
  #newsletter-form .btn-primary{
    width: 100%;
  }
}

#newsletter-form .form-control{
  background-color: #B8B8B8;
  color: #ffffff;
}
#newsletter-form .form-control::placeholder{
  color: #ffffff;
  text-align: center;
}
.vertical-line {
  border-left: 8px solid #2A2A2A; 
  height: 100%; 
  left: 50%; 
  
}


/* Newsletter Slider */

.carousel-container-newsletter{
  background-color: #323232;
}

.carousel-container-newsletter .overflow-hidden .card{
  background-color: #FFD2B5;
  color: #000000;
}


@media (max-width:992px) {
  #newsSlider-card{
  flex: 0 0 50%;
  max-width: 50%;
}
}


@media (max-width:576px) {
  #newsSlider-card{
    flex: 0 0 100%;
    max-width: 100%;
  }
  }

/* Newsletter Subscription */

.newsletter-sub{
  border-bottom: 5px solid #FF6F0F;
}






